@font-face {
  font-family: 'Oxygen';
  src: url('./assets/fonts/oxygen/Oxygen-Regular.ttf') format('truetype');
  font-family: 'Fira Sans';
  src: url('./assets/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype');
}

*, body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

#zlogo img {
  margin-left: 100px;
  margin-top: 10px;
  width: 120px;
  height: 40px;
}

.ztitle {
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.ztitle p {
  font-size: 3rem;
  padding: 0.5rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03rem;
  text-align: center;
  overflow: hidden;
}

.ztitle p span.typed-text {
  font-weight: bold;
  color: #1e8fa0;
}

.ztitle p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 4px;
  animation: blink 1s infinite;
}

.ztitle p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.zbanner_slide {
  width: 80vw;
  margin-left: 10vw;
}

#zsection2 {
    margin-top: 22vh;
    margin-bottom: 22vh;
}

.ztext1 {
    margin-top: 40px;
    margin-bottom: 5vh;
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
}

.ztext1 p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.ztext1 p a {
    color: #000;
}

.zimagelandscape img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.6;
}

#zsection3 {
    margin-bottom: 30vh;
}

.zicon1 {
    justify-content: center;
    text-align: center;
}

.zicon1 img {
    width: 90px;
    height: 90px;
    opacity: 0.88;
}

.zcards {
  width: 90vw;
  margin-left: 5vw;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.zcards .card {
  justify-content: center;
  text-align: center;
  width: 21vw;
  height: 35vh;
  transition: 0.23s ease-in-out;
}

.zcards .card:hover {
  transform: scale(1.03);
}

.card-title {
  font-weight: 600;
  color: rgb(39, 39, 39);
}

#z_a_btn3, #z_a_btn4 {
  margin-top: 22px !important;
}

.card-text {
  font-size: large;
  text-align: justify;
  text-indent: 25px;
}

.znews {
  position: relative;
  margin-top: -300px;
  width: 80%;
  margin-left: 10%;
}

.znews h2 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  opacity: .88;
  font-weight: 600;
}

.znews input {
  height: 65px;
  font-size: larger;
  opacity: .9;
  border-radius: 8px;
}

.znews button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  border-radius: 8px;
  opacity: .9;
  transition: .15s ease-in-out;
}

.znews button:hover {
  transform: scale(0.9);
}

#zsection5 {
  margin-bottom: 30vh;
}

.zacordion {
  width: 60vw;
  margin: auto;
 }

.zacordion_title {
  margin-left: 11vw;
}










